body {
  padding-top: 50px;
  padding-bottom: 20px;
  /* background-color: #000000; */
  /* color: gray; */
}

.container {
  margin-right: 5px;
  margin-left: 5px;
  //max-width: 1340px;
  max-width: 1980px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.fat {
  border: 2px solid gray;
  border-radius: 10px;
}

/* modal window fullscreen */
.modal-popup {
  z-index: 1100;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
text-default {
  margin: 5px 5px 5px 5px;
}

/* for compatibility with DBMax older applications */

.code {          
  font-family: Courier New, Monospace, Lucida Console;                     
  font-face: Courier New;
  font-size: 9pt;
  overflow: hidden;
  color: maroon;
  background-color: #FFFFF0;
  padding: 3px;
  border: 1px solid black;
  cursor: default;
  max-height: 900px;
  width: 97%;
  min-height: 35px;
}

.code:hover { 
  overflow: auto;
}
         
.cmd {          
  overflow: hidden;
  color: lime;
  background-color: #000000;
  padding: 3px;
  font-size: 10pt;
  border: 1px solid black;
  cursor: default;
  max-height: 900px;
  width: 100%;
  min-height: 35px;
  font-family: Courier, Monospace, Lucida Console;                     
}

          
.centeredImage
{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
    
.textbox {
	width:90%; 
	background-color:#FFFFFF; 
	color:black; 
	border:solid 1px black;
	margin-top:3px;
	padding: 5 5 5 5;
	font-size: 11px;
}

.rec {
  color: #000000;
  background-color: #ECF5FF;
  padding: 3px;
  font-size: 10pt;
  border: 1px solid #000080;
  margin-top: 2px;
  cursor: default;
  width: 100%;
}

.browse {
  overflow: hidden;
  color: #000000;
  background-color: #EDFAFE;
  padding: 3px;
  font-size: 10pt;
  -moz-border-radius: 3px;
  border: 1px dotted #0000FF;
  margin-top: 2px;
  cursor: default;

  width: 100%;
  min-height: 35px;
}

table {
border-collapse: collapse
}