<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--
DBFREE DEMO AND TUTORIALS 2013

********************************************************
SURVEY MAKER DEMO  v.0.0.1 - February 2013
Written from Hannes "Fuffy" Dalgreen for MaxScript 2.1
********************************************************

Module name.......: 
Purpose...........: 

//-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
<META NAME="GOOGLEBOT" CONTENT="NOARCHIVE"> 
<link rel="stylesheet" type="text/css" href="../../../default.css">
<script type="text/javascript" src="/js/max-ajax.js"></script>
<title>Survey List</title>
<base target="frm2">
</head>
<!----------------------------------- local styles -------------------------------------- //-->
<style type="text/css">
li {margin-left:-16px; margin-bottom:3px;}
</style>
<!----------------------------------- javascripts -------------------------------------- //-->

<!----------------------------------- BODY -------------------------------------- //-->
<body bgcolor="#B6D1F5">

<a target="_self" href="../usermenu.msp">Back to main menu</a>
<hr>
<font size="4">Review surveys</font><ul>
	<li><a href="views_browse.msp">View all</a><br>
&nbsp;</li>
	<li><a href="views_browse.msp">Active</a></li>
	<li><a href="views_browse.msp">Expired</a></li>
	<li><a href="views_browse.msp">Last 10</a></li>
	<li><a href="views_browse.msp">Last Month</a></li>
	<li></li>
</ul>

</body>

</html>
