vti_encoding:SR|utf8-nl
vti_author:SR|HP-AMDX4\\admin
vti_modifiedby:SR|HP-AMDX4\\admin
vti_timelastmodified:TR|15 Jan 2014 13:11:06 -0000
vti_timecreated:TR|15 Jan 2014 13:10:53 -0000
vti_title:SR|New Page 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|15 Jan 2014 13:11:00 -0000
vti_cacheddtm:TX|15 Jan 2014 13:11:06 -0000
vti_filesize:IR|2229
vti_cachedlinkinfo:VX|S|/common/images/logos/16.png S|/common/images/logos/32.png S|images/options.png S|images/options-2x.png
vti_cachedsvcrellinks:VX|NSUS|file:///common/images/logos/16.png NSUS|file:///common/images/logos/32.png NSUS|css/images/options.png NSUS|css/images/options-2x.png
