vti_encoding:SR|utf8-nl
vti_author:SR|HP-AMDX4\\admin
vti_modifiedby:SR|HP-AMDX4\\admin
vti_timelastmodified:TR|15 Jan 2014 09:19:40 -0000
vti_timecreated:TR|15 Jan 2014 09:19:28 -0000
vti_title:SR|New Page 1
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|15 Jan 2014 09:19:35 -0000
vti_cacheddtm:TX|15 Jan 2014 09:19:40 -0000
vti_filesize:IR|846
