body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 3;
	margin-bottom: 8;
	margin-right: 2;
	margin-left: 2;
	padding: 3px;
}

a {color:navy;text-decoration:underline;}

a:visited {color:navy;}

a:hover {color:red;text-decoration: underline;}

li {
   margin-top:3px;
   }

th {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}

td {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  vertical-align: top;
}

.code {          
  font-family: Courier, Monospace, Lucida Console;                     
  font-face: Courier New;
  font-size: 9pt;
  overflow: hidden;
  color: maroon;
  background-color: #FFFFF0;
  padding: 3px;
  border: 1px solid black;
  cursor: default;
  max-height: 900px;
  width: 97%;
  min-height: 35px;
}

.code:hover { 
  overflow: auto;
}
         
.cmd {          
  overflow: hidden;
  color: lime;
  background-color: #000000;
  padding: 3px;
  font-size: 10pt;
  border: 1px solid black;
  cursor: default;
  max-height: 900px;
  width: 100%;
  min-height: 35px;
  font-family: Courier, Monospace, Lucida Console;                     
}

          
.centeredImage
{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
    
.textbox {
	width:90%; 
	background-color:#FFFFFF; 
	color:black; 
	border:solid 1px black;
	margin-top:3px;
	padding: 5 5 5 5;
}

.rec {
  color: #000000;
  background-color: #ECF5FF;
  padding: 3px;
  font-size: 10pt;
  border: 1px solid #000080;
  margin-top: 2px;
  cursor: default;
  width: 100%;
}

.browse {
  overflow: hidden;
  color: #000000;
  background-color: #EDFAFE;
  padding: 3px;
  font-size: 10pt;
  -moz-border-radius: 3px;
  border: 1px dotted #0000FF;
  margin-top: 2px;
  cursor: default;

  width: 100%;
  min-height: 35px;
}

.elm {
  color: #000000;
  background-color: #ECF5FF;
  padding: 3px;
  font-size: 14pt;
  font-weight: bold;
  border: 0px solid #808080;
}

.descr  { 
  color: #000080;
  background-color: #FFFFFF;
  padding: 3px;
  font-size: 10pt;
  border: 1px dotted #0000FF
}

.example  { 
  font-family: Courier, Monospace, Lucida Console;                     
  font-face: Courier New;
  font-size: 9pt;
  color: #000080;
  background-color: #FFFFF0;
  padding: 3px;
  font-size: 10pt;
  border: 1px dotted #800000;
  margin-top: 2px;
  font-family: Courier, Monospace, Lucida Console;                     
  }

.hover.example { 
  overflow: auto;
}

.sintax  { 
  color: #003300;
  background-color: #FFFFF2;
  padding: 3px;
  font-size: 10pt;
  border: 1px dotted #0000FF;
}

.param  { 
  color: #000080;
  background-color: #FFFFF0;
  padding: 3px;
  font-size: 9pt;
  font-family: courier;
  border: 1px dotted #000080;
}

.seealso  { 
  color: #000000;
  background-color: #FFFFEA;
  padding: 3px;
  font-size: 9pt;
  border: 1px dotted #000080;
}

.nlink {
  color: navy;
  text-decoration: underline;
}

.onmouseover.nlink {
  color: white;
  text-decoration: none;
  background-color: navy;
}

hr.bold {
  border: 1px solid #3C5E80;
}

li {
margin-top: 1;
}

.plain {
background-color: #FFFFFF; 
color: #000000; 
font-size: 12; 
border: solid 1px black;
margin-left: 3px;
margin-top: 5px;
margin-right: 3px;
padding: 5px;
}


.elmnt {font-size:20; font-weight:bold; background-color: #E2E2E2;}
.sez  {margin-left:10px; font-size:10; color:green; background-color: #FFFFFC;}
.grp  {margin-left:90px; font-size:10; color:navy; background-color: #FFFFFC;}
.lib  {margin-left:180px; font-size:10; color:maroon; background-color: #FFFFFC;}
.rno  {margin-left:230px; font-size:10; color:gray; background-color: #FFFFFC;}
.dscz {border: dotted 1px gray; padding:5px;}
.sntx {border: dotted 1px maroon; padding:5px; background-color: #FFFFE1;}
.prmt {border: dotted 1px #C0C0C0; padding: 5px;}
.exmp {background-color: #EFF2FF; padding:8px; color: maroon; border:solid 1px black;}
.als {background-color: #E2E2E2; padding:2px; color:blue; font-family:courier;}

.void {
background-color: #FFFFFF; 
color: #000000; 
font-size: 12; 
border:none;
margin-left: 35px;
margin-top: 5px;
}