a {
	/* color: #003366; */
	/* text-decoration: none; */
}

a:hover {
   background-color: yellow;
	/* color: #336699; */
	/* border-bottom: 1px dotted; */
	/* text-decoration: none; */
}

a:MARKEDe {
	/* color: #336699; */
	/* text-decoration: none; */
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 2;
	margin-bottom: 3;
	margin-right: 3;
	margin-left: 2;
}

.breadcrumbs {
  font-size : 7pt;
  color : #777777;
}

.pagetitle {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 14pt;
} 

.pagecontent {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 12px;
  color: #000000;
  background-color: #FFFFFF;
}

.pagecontent-bold {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 12px;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
} 

.tableheader {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10px;
  color: #FFFFFF;
  background-color: #FFCC66;
} 

.quote {
  font-family : Georgia, Times New Roman, Times, serif;
  font-size : 28pt;
  font-weight : bold;
  color : #777777;
}

.sidenav {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 11px;
  color: #CC6600;
  background-color: #FFCC66;
} 

.frontpagemidcsgraphic {
  background-image: url(/assets/www.smoothwall.net/img/cpu.jpg);
  background-repeat: no-repeat;
} 

.sidenavselected {
  background-color: #FFCC66;
  /* background-color: #3C5E80; */
} 

.sidenavproducts {
  background-color: #336699;
} 

.sectionHighlighted {
  background-color: #336699;
  color: #FFFFFF;
} 

a.sidenavlinks {
	color: #CC6600;
	text-decoration: none;
}

a.sidenavlinks:hover {
	color: #FF9900;
	text-decoration: none;
}

a.sidenavlinks:MARKEDe {
	color: #FF9900;
	text-decoration: none;
}

.sidenavheader {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 12px;
	font-weight: bold;
	text-decoration: none;
  color: #CC6600;
  background-color: #FFCC66;
} 

a.sidenavheaderlinks {
	color: #CC6600;
    font-size : 12px;
	font-weight: bold;
	text-decoration: none;
}

a.sidenavheaderlinks:hover {
	color: #FF9900;
	font-weight: bold;
	text-decoration: none;
}

a.sidenavheaderlinks:MARKEDe {
	color: #FF9900;
	font-weight: bold;
	text-decoration: none;
}

a.sidenavmaplinks:hover {
  background-color: #FF9900;
	text-decoration: none;
}

.topnav {
  font-size : 10px;
  text-decoration: none;
  color: #FFFFFF;
} 

a.topnavlinks {
	color: #FFFFFF;
    font-size : 10px;
	font-weight: bold;
	text-decoration: none;
}

a.topnavlinks:hover {
	color: #FFCC33;
	font-weight: bold;
	text-decoration: none;
}

a.topnavlinks:MARKEDe {
	color: #FFCC33;
	font-weight: bold;
	text-decoration: none;
}

.text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
}

.subtext {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#CCCCCC;
}

.subteztblack {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
}

.big {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color:#FFFFFF;
}

.largest {
	font-size: 24px;
}

.larger {
	font-size: 18px;
}

.large {
	font-size: 14px;
}

.medium {
	font-size: 11px;
}

.small {
	font-size: 10px;
}

.small-grey {
	font-size: 10px;
	color: #777777;
}

.small-note {
	font-size: 10px;
	color: #777777;
}

.smaller {
	font-size: 8px;
}

.smaller {
	font-size: 7px;
}

.largequotemarks {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 40px;
}

.smoothprefix {
    font-size: 17px;
    font-weight: bold;
    color: #CCCCCC;
}

.smoothsuffix {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
}

.smoothprefix-smaller {
    font-size: 15.25px;
    font-weight: bold;
    color: #CCCCCC;
}

.smoothsuffix-smaller {
    font-size: 15.25px;
    font-weight: bold;
    color: #FFFFFF;
}

.snews {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#FFFFFF;
}


.frontpage {
    font-size: 11px;
    color: #FFFFFF;
}

.quoteattribution {
    color: #FFCC33;
}

.disabled {
    color: #777777;
}

.grey {
    color: #777777;
}

.lightgrey {
    color: #CCCCCC;
}

a.frontpagelink {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
	text-decoration: none;
}

a.frontpagelink:hover {
	color: #FFCC33;
    font-weight: bold;
	text-decoration: none;
}

a.frontpagelink:MARKEDe {
	color: #FFCC33;
    font-weight: bold;
	text-decoration: none;
}

.frontpagenewsdate {
    font-size: 11px;
    font-weight: bold;
    color: #CCCCCC;
}

a.frontpagenewslink {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
	text-decoration: none;
}

a.frontpagenewslink:hover {
	color: #FFCC33;
    font-weight: bold;
	text-decoration: none;
}

a.frontpagenewslink:MARKEDe {
	color: #FFCC33;
    font-weight: bold;
	text-decoration: none;
}

.footer {
    font-size: 11px;
    color: #CC6600;
    background-color: #FFCC66;
}

a.footerlink {
    font-size: 11px;
    font-weight: bold;
    color: #CC6600;
    background-color: #FFCC66;
}

a.footerlink:hover {
	color: #FF9900;
    font-weight: bold;
	text-decoration: none;
}

a.footerlink:MARKEDe {
	color: #FF9900;
    font-weight: bold;
	text-decoration: none;
}

.newsheadlinescategory {
    font-size: 10px;
    color: #777777;
}

a.newsheadlinescategory {
    font-size: 9px;
    color: #777777;
}

a.newsheadlinescategory:hover {
	color: #003366;
}

a.newsheadlinescategory:MARKEDe {
	color: #FFCC33;
}

.sectionDeselected {
/*  background-color: #336699; */
  background-color: #FFCC33;
} 

.sectionImportant {
  background-color: #FF0000;
} 

.alert {
  background-color: #FF0000;
  color: #FFFFFF;
}

.productsubheading {
  color: #336699;
  font-weight: bold;
}

.itemlistbg {
  background-color: #CCCCCC;
}



.tabSelected {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-align : center;
  background-color : #FF9900;
  text-decoration : none;
}

a.tabLink:link {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-decoration : none;
}


a.tabLink:visited {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-decoration : none;
}


a.tabLink:hover {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-decoration : none;
}


a.tabLink:MARKEDe {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-decoration : none;
}


.tabDeselected {
  font-family : Verdana, Arial, Helvetica, sans-serif;
  font-size : 10pt;
  text-align : center;
  background-color : #ffee99;
  text-decoration : none;
}

th {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}

td {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}